.custom {
    width: 100%;
    display: flex;
    height: fit-content;
    padding-top: 7rem;
    margin-bottom: 13rem;
}

.custom__left {
    width: 50%;
    padding-left: 4.5rem;
}

.custom__leftTitle {
    font-weight: 800;


    background: linear-gradient(to right, #4d02f5 0%, #c401ff 0%, #4d02f5 70%, #c401ff 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 200% auto;
    animation: textShine 4s ease-in-out infinite alternate;
}

@keyframes textShine {
    to {
        background-position: 200%;
    }
}

.custom__right {
    width: 38%;
    padding-top: 1.5rem;
}

.custom__rightTitle {
    font-size: 51px;
    color: #000000;
    font-weight: 700;
    padding-bottom: 20px;
}

.custom__rightText {
    font-size: 20px;
    line-height: 25px;
    font-weight: normal;
    color: black;
    padding-bottom: 20px;
}

.custom__rightSubtitle {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

.vectorSmartCustom {
    height: 500px;
    width: 815px;
    margin-top: 3rem;
}

.customTitle, .customTitleFirst {
    font-weight: bold;
}


.btnCustom {
    width: 13.5rem;
    height: 2.4rem;
    background: #ffffff;
    opacity: 2;
    border-radius: 32px;
    filter: drop-shadow(0px 5px 2.5px rgba(0, 0, 0, 0.1)) drop-shadow(0px 10px 3px rgba(0, 0, 0, 0.09)) drop-shadow(0px 10px 3.5px rgba(0, 0, 0, 0.08)) drop-shadow(0px 10px 4px rgba(0, 0, 0, 0.07)) drop-shadow(0px 10px 4.5px rgba(0, 0, 0, 0.06)) drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.05)) drop-shadow(0px 10px 5.5px rgba(0, 0, 0, 0.04)) drop-shadow(0px 40px 6px rgba(0, 0, 0, 0.03)) drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.02)) drop-shadow(0px 10px 2px rgba(0, 0, 0, 0.01));
    margin-top: 12rem;
    margin-left: 6rem;
    position: absolute;
    z-index: 9999;
}

.btnCustomMovement {
    width: 13.5rem;
    height: 2.4rem;
    background: #ffffff;
    opacity: 2;
    border-radius: 32px;
    /*filter: drop-shadow(0px 5px 2.5px rgba(0, 0, 0, 0.1)) drop-shadow(0px 10px 3px rgba(0, 0, 0, 0.09)) drop-shadow(0px 15px 3.5px rgba(0, 0, 0, 0.08)) drop-shadow(0px 20px 4px rgba(0, 0, 0, 0.07)) drop-shadow(0px 25px 4.5px rgba(0, 0, 0, 0.06)) drop-shadow(0px 30px 5px rgba(0, 0, 0, 0.05)) drop-shadow(0px 35px 5.5px rgba(0, 0, 0, 0.04)) drop-shadow(0px 40px 6px rgba(0, 0, 0, 0.03)) drop-shadow(0px 45px 6.5px rgba(0, 0, 0, 0.02)) drop-shadow(0px 50px 7px rgba(0, 0, 0, 0.01));*/
    margin-top: 12rem;
    margin-left: 6rem;
    animation: btnCustom 3s infinite;
    position: absolute;
    z-index: 9999;
}

@-webkit-keyframes btnCustom {
    0% {
        margin-left: 6rem;
    }
    50% {
        margin-left: 4.5rem;
    }
    100% {
        margin-left: 6rem;
    }
}

@keyframes btnCustom {
    0% {
        margin-left: 6rem;
    }
    50% {
        margin-left: 4.5rem;
    }
    100% {
        margin-left: 6rem;
    }
}

.btnCustom-twoSloy {
    width: 13.5rem;
    height: 2.4rem;
    border-radius: 32px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ededef;
}

.btnCustom-threeSloyBefore {
    width: 8.5rem;
    height: 2.4rem;
    border-radius: 27px;
    /*filter: drop-shadow(0px 1px 1.5px rgba(0, 0, 0, 0.1)) drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.09)) drop-shadow(0px 1px 3.5px rgba(0, 0, 0, 0.08)) drop-shadow(0px 20px 4px rgba(0, 0, 0, 0.07)) drop-shadow(0px 1px 2.5px rgba(0, 0, 0, 0.06)) drop-shadow(0px 30px 5px rgba(0, 0, 0, 0.05)) drop-shadow(0px 35px 5.5px rgba(0, 0, 0, 0.04)) drop-shadow(0px 40px 6px rgba(0, 0, 0, 0.03)) drop-shadow(0px 45px 6.5px rgba(0, 0, 0, 0.02)) drop-shadow(0px 50px 7px rgba(0, 0, 0, 0.01));*/
    background-color: #ededef;
}

.btnCustom-threeSloyAfter {
    width: 13.5rem;
    height: 2.4rem;
    border-radius: 27px;
    /*filter: drop-shadow(0px 5px 2.5px rgba(0, 0, 0, 0.1)) drop-shadow(0px 10px 3px rgba(0, 0, 0, 0.09)) drop-shadow(0px 15px 3.5px rgba(0, 0, 0, 0.08)) drop-shadow(0px 20px 4px rgba(0, 0, 0, 0.07)) drop-shadow(0px 25px 4.5px rgba(0, 0, 0, 0.06)) drop-shadow(0px 30px 5px rgba(0, 0, 0, 0.05)) drop-shadow(0px 35px 5.5px rgba(0, 0, 0, 0.04)) drop-shadow(0px 40px 6px rgba(0, 0, 0, 0.03)) drop-shadow(0px 45px 6.5px rgba(0, 0, 0, 0.02)) drop-shadow(0px 50px 7px rgba(0, 0, 0, 0.01));*/
    background-color: #ededef;
}

.btnCustom-fourSloyBefore {
    width: 8.5rem;
    height: 2.4rem;
    border-radius: 27px;
    background-color: #4d02f5;
}

.btnCustom-fourSloyAfter {
    width: 13.5rem;
    height: 2.4rem;
    border-radius: 27px;
    background-color: #4d02f5;
}

.btnCustom-fourSloyTitle {
    padding: 0.5rem;
    color: #ffffff;
}

.ellipse-btnCustomBefore {
    width: 1rem;
    height: 1rem;
    border-radius: 11px;
    background-color: #c000ff;
    margin-right: 1rem;
    cursor: pointer;
}

.ellipse-btnCustomAfter {
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 11px;
    background-color: blue;
    margin-right: 2rem;
    margin-left: 11.5rem;
    cursor: pointer;
}

.see-cases {
    text-decoration: none;
    color: black;
}


/*ICONS LOGIC*/


.iconCustomVectors {
    position: absolute;
}

.iconCustomMessage {
    width: 4rem;
    margin-top: 6rem;
}

.iconCustomBack {
    width: 3rem;
    margin-left: 10rem;
}

.iconCustomWifi {
    width: 23rem;
}

.iconCustomCamera {
    width: 15rem;
    height: 10rem;
    margin-left: 10rem;
}

.iconCustomContacts {
    width: 15rem;
    height: 10rem;
    margin-left: 15rem;
    margin-top: 5rem;
}

.iconCustomHome {
    width: 25rem;
    height: 15rem;
    margin-left: 10rem;
    margin-top: 15rem;
}

.iconCustomCall {
    width: 20rem;
    height: 20rem;
    margin-left: 5rem;
    margin-top: 10rem;
}

.iconCustomSetting {
    width: 20rem;
    height: 20rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.iconCustomBrowser {
    width: 20rem;
    height: 20rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.iconCustomMessage2 {
    width: 20rem;
    height: 20rem;
    margin-left: 3rem;
    margin-right: 10rem;
}

.logo-icon {
    position: relative;
    z-index: -1;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    /*-webkit-animation: circleIcons 5s infinite;*/
    /*animation: circleIcons 5s infinite;*/
    /*background: red;*/
}

@media (max-width: 1441px) {
    .custom__icon {
        margin-left: 3rem;
    }
}

@media (max-width: 1200px) {
    .custom {
        width: 100%;
        display: flex;
        height: fit-content;
        padding-top: 3rem;
        margin-bottom: 5rem
    }

    .btnCustom {
        margin-top: 13rem;
        margin-left: 7rem;
    }

    .btnCustomMovement {
        margin-top: 13rem;
        margin-left: 7rem;
        animation: btnCustom1025 3s infinite;
    }

    @-webkit-keyframes btnCustom1025 {
        0% {
            margin-left: 7rem;
        }
        50% {
            margin-left: 5.5rem;
        }
        100% {
            margin-left: 7rem;
        }
    }

    @keyframes btnCustom1025 {
        0% {
            margin-left: 7rem;
        }
        50% {
            margin-left: 5.5rem;
        }
        100% {
            margin-left: 7rem;
        }
    }

    .btnCustom, .btnCustom-twoSloy, .btnCustomMovement {
        width: 10.5rem;
        height: 2rem;
    }

    .btnCustom-threeSloyBefore, .btnCustom-fourSloyBefore {
        width: 6.5rem;
        height: 2rem;
    }

    .btnCustom-threeSloyAfter, .btnCustom-fourSloyAfter {
        width: 10.5rem;
        height: 2rem;
    }

    .btnCustom-fourSloyTitle {
        font-size: 14px;
    }

    .ellipse-btnCustomBefore {
        width: 0.7rem;
        height: 0.7rem;
    }

    .ellipse-btnCustomAfter {
        width: 0.7rem;
        height: 0.7rem;
        margin-left: 9rem;
    }

    .custom__icon {
        margin-left: 6%;
    }

    .iconCustomMessage {
        width: 2.5rem;
        margin-top: 6rem;
        margin-right: 0rem;
    }

    .iconCustomBack {
        width: 2.3rem;
        margin-left: 0rem;
    }

    .iconCustomWifi {
        width: 17rem;
    }

    .iconCustomCamera {
        width: 13rem;
        height: 7rem;
        margin-left: 16rem;
        margin-top: 4rem;
    }

    .iconCustomContacts {
        width: 13rem;
        height: 9rem;
        margin-left: 14rem;
        margin-top: 4rem;
    }

    .iconCustomHome {
        width: 17rem;
        height: 9rem;
        margin-left: 4rem;
        margin-top: 16rem;
    }

    .iconCustomCall {
        width: 20rem;
        height: 20rem;
        margin-left: 5rem;
        margin-top: 13rem;
    }


    .iconCustomSetting {
        width: 20rem;
        height: 23rem;
        margin-left: 14rem;
        margin-right: 10rem;
    }

    .iconCustomBrowser {
        width: 15rem;
        height: 15rem;
        margin-left: 17rem;
        margin-right: 10rem;
        margin-top: 1rem;
    }

    .iconCustomMessage2 {
        width: 20rem;
        height: 20rem;
        margin-left: 8rem;
        margin-right: 10rem;
    }

    .custom__leftTitle {
        font-size: 4rem;
    }
}


@media (max-width: 824px) {
    li {
        font-size: 1rem;
        line-height: 1rem;
    }

    .custom {
        margin-bottom: 4rem !important;
    }

    .custom__rightSubtitle {
        padding-bottom: 4px;
    }

    .btnCustom, .btnCustomMovement {
        margin-top: 12rem;
        margin-left: 5rem;
    }

    .btnCustom, .btnCustom-twoSloy {
        width: 8.5rem;
        height: 1.6rem;
    }

    .btnCustomMovement {
        animation: btnCustom769 3s infinite;
    }

    @-webkit-keyframes btnCustom769 {
        0% {
            margin-left: 5rem;
        }
        50% {
            margin-left: 4rem;
        }
        100% {
            margin-left: 5rem;
        }
    }

    @keyframes btnCustom769 {
        0% {
            margin-left: 5rem;
        }
        50% {
            margin-left: 4rem;
        }
        100% {
            margin-left: 5rem;
        }
    }

    .btnCustom-threeSloyBefore, .btnCustom-fourSloyBefore {
        width: 5.5rem;
        height: 1.6rem;
    }

    .btnCustom-threeSloyAfter, .btnCustom-fourSloyAfter {
        width: 8.5rem;
        height: 1.6rem;
    }

    .btnCustom-fourSloyTitle {
        font-size: 0.63rem;
        padding-top: 7px;
    }

    .ellipse-btnStarBefore {
        width: 0.6rem;
        height: 0.6rem;
        margin-right: 0.7rem;
    }


    .custom__leftTitle {
        font-size: 3rem;
    }

    .ellipse-btnCustomBefore {
        width: 0.6rem;
        height: 0.6rem;
    }

    .ellipse-btnCustomAfter {
        width: 0.5rem;
        height: 0.5rem;
        margin-left: 6.8rem !important;
    }

    /* ICONS LOGIC */
    .custom__icon {
        margin-left: 6rem;
    }

    .iconCustomMessage {
        width: 2rem;
        margin-top: 4rem;
        margin-left: -10rem;
    }

    .iconCustomBack {
        width: 2.2rem;
        margin-left: -1rem;
        margin-top: 5rem;
    }

    .iconCustomWifi {
        width: 14rem;
        margin-left: -9rem;
        margin-top: 2rem;
    }

    .iconCustomCamera {
        width: 13rem;
        height: 7rem;
        margin-left: 9rem;
        margin-top: 4rem;
    }

    .iconCustomContacts {
        width: 13rem;
        height: 8rem;
        margin-left: 15rem;
        margin-top: 3rem;
    }

    .iconCustomHome {
        width: 10rem;
        height: 9rem;
        margin-left: -3rem;
        margin-top: 14rem;
    }

    .iconCustomCall {
        width: 17rem;
        height: 17rem;
        margin-left: -2.5rem;
        margin-top: 12rem;
    }

    .iconCustomSetting {
        width: 17rem;
        height: 22rem;
        margin-left: 8rem;
        margin-right: 10rem;
    }

    .iconCustomBrowser {
        width: 14rem;
        height: 13rem;
        margin-left: 13rem;
        margin-right: 10rem;
    }

    .iconCustomMessage2 {
        width: 15rem;
        height: 20rem;
        margin-left: 3rem;
        margin-right: 10rem;
    }

    .custom__rightSubtitle {
        line-height: 0px;
    }
}

@media (max-width: 737px) {
    .customLeft {
        margin-left: -4rem;
    }

    .customRight {
        margin-left: 6.8rem;
    }
}

@media (max-width: 665px) {
    .customRight {
        margin-left: 0rem;
    }

    .customLeft {
        margin-left: 1rem;
    }
}

@media (max-width: 569px) {
    .custom {
        padding-top: 2rem;
        margin-bottom: 2rem !important;
    }

    .customTitleFirst {
        font-size: 0.9rem;
    }

    .customTitle {
        font-size: 0.7rem;
    }

    li {
        font-size: 0.5rem;
        line-height: 0.5rem;
    }

    .custom__rightSubtitle {
        padding-bottom: 0px;
        padding-left: 0.7rem;
    }

    .btnCustom, .btnCustom-twoSloy, .btnCustomMovement {
        width: 5.5rem;
        height: 1.1rem;
    }

    .btnCustom-threeSloyBefore, .btnCustom-fourSloyBefore {
        width: 3.4rem;
        height: 1.1rem;
    }

    .btnCustom-threeSloyAfter, .btnCustom-fourSloyAfter {
        width: 5.5rem;
        height: 1.1rem;
    }

    .btnCustom-fourSloyTitle {
        font-size: 0.6rem;
    }

    .ellipse-btnStarBefore {
        width: 0.5rem;
        height: 0.5rem;
        margin-right: 0.5rem;
    }

    .ellipse-btnCustomBefore {
        width: 0.35rem;
        height: 0.35rem;
        margin-right: 0.5rem;
    }

    .ellipse-btnCustomAfter {
        margin-left: 4.5rem !important;
        width: 0.35rem;
        height: 0.35rem;
    }

    .btnCustom-fourSloyTitle {
        font-size: 0.38rem;
        padding-top: 5px;
    }


    .btnCustom, .btnCustomMovement {
        margin-top: 7rem;
        margin-left: 1rem;
    }

    .btnCustomMovement {
        animation: btnCustom426 3s infinite;
    }

    @-webkit-keyframes btnCustom426 {
        0% {
            margin-left: 1rem;
        }
        50% {
            margin-left: 0.5rem;
        }
        100% {
            margin-left: 1rem;
        }
    }

    @keyframes btnCustom426 {
        0% {
            margin-left: 1rem;
        }
        50% {
            margin-left: 0.5rem;
        }
        100% {
            margin-left: 1rem;
        }
    }

    .custom__leftTitle {
        font-size: 1.7rem;
    }

    /* ICON */
    .custom__icon {
        margin-left: 6rem;
    }

    .iconCustomMessage {
        width: 1.2rem;
        margin-top: -1rem;
        margin-left: -13rem;
    }

    .iconCustomBack {
        width: 1.2rem;
        margin-left: -9rem;
        margin-top: -1rem;
    }

    .iconCustomWifi {
        width: 7rem;
        margin-left: -12rem;
        margin-top: -3rem;
    }

    .iconCustomCamera {
        width: 7rem;
        height: 6rem;
        margin-left: 8.5rem;
        margin-top: -4rem;
    }

    .iconCustomCall {
        width: 8rem;
        height: 8rem;
        margin-left: -3.4rem;
        margin-top: 13.5rem;
    }

    .iconCustomSetting {
        width: 8rem;
        height: 8rem;
        margin-left: 8.5rem;
        margin-top: 3.3rem;
    }

    .iconCustomMessage2 {
        width: 8rem;
        height: 8rem;
        margin-left: 5.5rem;
        margin-right: 10rem;
        margin-top: 1rem;
    }

    .iconCustomContacts {
        width: 7rem;
        height: 6rem;
        margin-left: 11.3rem;
        margin-top: -3.5rem;
    }

    .iconCustomHome {
        width: 5rem;
        height: 4rem;
        margin-left: -7.5rem;
        margin-top: 12rem;
    }

    .iconCustomBrowser {
        width: 11rem;
        height: 5rem;
        margin-left: 12rem;
        margin-right: 10rem;
        margin-top: -1.5rem;
    }

    p {
        margin-top: 0;
        margin-bottom: 0.7rem;
    }

    .custom__rightSubtitle {
        line-height: 10px;
    }
}

@media (max-width: 426px) {
    .customLeft {
        margin-left: 0rem;
    }

    .custom {
        padding-top: 2rem;
        margin-bottom: 1.5rem !important;
    }

    .btnCustom, .btnCustomMovement {
        margin-top: 5.5rem;
        margin-left: 2rem;
    }

    .btnCustomMovement {
        animation: btnCustom376 3s infinite;
    }

    @-webkit-keyframes btnCustom376 {
        0% {
            margin-left: 2rem;
        }
        50% {
            margin-left: 1rem;
        }
        100% {
            margin-left: 2rem;
        }
    }

    @keyframes btnCustom376 {
        0% {
            margin-left: 2rem;
        }
        50% {
            margin-left: 1rem;
        }
        100% {
            margin-left: 2rem;
        }
    }

    .custom__leftTitle {
        font-size: 1.4rem;
    }

    .btnCustom, .btnCustom-twoSloy, .btnCustomMovement {
        width: 5rem;
        height: 1rem;
    }

    .btnCustom-threeSloyBefore, .btnCustom-fourSloyBefore {
        width: 3.3rem;
        height: 1rem;
    }

    .btnCustom-threeSloyAfter, .btnCustom-fourSloyAfter {
        width: 5rem;
        height: 1rem;
    }

    .btnCustom-fourSloyTitle {
        font-size: 6.3px;
        padding-top: 0.3rem;
        padding-left: 0.23rem;
    }

    /*.ellipse-btnStarBefore {*/
    /*    width: 0.35rem !important;*/
    /*    height: 0.35rem !important;*/
    /*}*/
    .ellipse-btnCustomBefore {
        width: 0.4rem !important;
        height: 0.4rem !important;
        margin-right: 0.4rem;
    }

    .ellipse-btnStarAfter {
        margin-left: 4.5rem;
    }

    .ellipse-btnCustomAfter {
        width: 0.3rem !important;
        height: 0.3rem !important;
        margin-left: 4.2rem !important;
    }

    .custom {
        height: fit-content;
    }

    li {
        font-size: 0.3rem;
        line-height: 0.3rem;
    }

    .customTitleFirst {
        font-size: 0.9rem;
    }

    .customTitle {
        font-size: 0.7rem;
    }

    /* ICON */
    .custom__icon {
        margin-left: 5.5rem;
    }

    .iconCustomMessage {
        width: 1rem;
        margin-top: -3rem;
        margin-left: -14.5rem;
    }

    .iconCustomBack {
        width: 1rem;
        margin-left: -9rem;
        margin-top: -2rem;
    }

    .iconCustomWifi {
        width: 5rem;
        margin-left: -11.3rem;
        margin-top: -4.5rem;
    }

    .iconCustomCamera {
        width: 5rem;
        height: 4rem;
        margin-left: 9.5rem;
        margin-top: -5rem;
    }


    .iconCustomCall {
        width: 7rem;
        height: 7rem;
        margin-left: -3.5rem;
        margin-top: 13rem;
    }

    .iconCustomSetting {
        width: 7rem;
        height: 7rem;
        margin-left: 9rem;
        margin-right: 10rem;
        margin-top: 3rem;
    }

    .iconCustomMessage2 {
        width: 7rem;
        height: 7rem;
        margin-left: 7.5rem;
        margin-right: 10rem;
    }

    .iconCustomContacts {
        width: 5rem;
        height: 4rem;
        margin-left: 13.5rem;
        margin-top: -6rem;
    }

    .iconCustomHome {
        width: 5rem;
        height: 3rem;
        margin-left: -8rem;
        margin-top: 12rem;
    }

    .iconCustomBrowser {
        width: 0rem;
        height: 0rem;
        margin-left: 0rem;
        margin-top: 0rem;
        margin-right: 0rem;
    }

    p {
        margin-top: 0;
        margin-bottom: 0.4rem;
    }

    .custom__rightSubtitle {
        line-height: 0;
    }

    .customLeft {
        margin-left: 0rem;
    }
}

@media (max-width: 376px) {
    .customTitleFirst {
        font-size: 0.7rem;
    }

    .customTitle {
        font-size: 0.6rem;
    }
}

@media (max-width: 321px) {
    .custom {
        padding-top: 2rem;
        margin-bottom: 1rem !important;
    }

    .btnCustom, .btnCustomMovement {
        margin-top: 4.7rem;
        margin-left: 2rem;
    }

    .btnCustomMovement {
        animation: btnCustom321 3s infinite;
    }

    @-webkit-keyframes btnCustom321 {
        0% {
            margin-left: 2rem;
        }
        50% {
            margin-left: 1rem;
        }
        100% {
            margin-left: 2rem;
        }
    }

    @keyframes btnCustom321 {
        0% {
            margin-left: 2rem;
        }
        50% {
            margin-left: 1rem;
        }
        100% {
            margin-left: 2rem;
        }
    }

    .custom {
        height: fit-content;
        padding-top: 1rem;
    }

    /* ICON */
    .custom__icon {
        margin-left: 5.5rem;
    }

    .iconCustomMessage {
        width: 1rem;
        margin-top: -4rem;
        margin-left: -14rem;
    }

    .iconCustomHome {
        width: 5rem;
        height: 3rem;
        margin-left: -8rem;
        margin-top: 11.5rem;
    }

    .iconCustomSetting {
        width: 7rem;
        height: 7rem;
        margin-left: 12.5rem;
        margin-right: 0rem;
        margin-top: 5rem;
    }

    .iconCustomMessage2 {
        width: 7rem;
        height: 7rem;
        margin-left: 12.5rem;
        margin-right: 0rem;
        margin-top: 2rem;
    }

    .iconCustomContacts {
        width: 5rem;
        height: 4rem;
        margin-left: 9.5rem;
        margin-top: -6.8rem;
    }

    .iconCustomCamera {
        width: 5rem;
        height: 4rem;
        margin-left: 10rem;
        margin-top: -6rem;
    }

    .iconCustomBack {
        width: 1rem;
        margin-left: -9rem;
        margin-top: -2.5rem;
    }

    .iconCustomMessage2 {
        width: 0rem;
        height: 0rem;
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 0rem;
    }

    .iconCustomSetting {
        width: 0rem;
        height: 0rem;
        margin-left: 0rem;
        margin-right: 0rem;
        margin-top: 0rem;
    }

    p {
        margin-top: 0;
        margin-bottom: 0.2rem;
    }

    .customTitleFirst {
        font-size: 0.63rem;
    }
    .customTitle {
        font-size: 0.55rem;
    }
}
