.iconVectors {
    position: absolute;
}
.iconMessage {
    width: 4rem;
    margin-top: 6rem;
}
.iconBack {
    width: 3rem;
    margin-left: 10rem;
}
.iconWifi {
    width: 23rem;
}
.iconCamera {
    width: 15rem;
    height: 10rem;
    margin-left: 10rem;
}

.iconContacts {
    width: 15rem;
    height: 10rem;
    margin-left: 15rem;
    margin-top: 5rem;
}

.iconHome {
    width: 25rem;
    height: 15rem;
    margin-left: 10rem;
    margin-top: 15rem;
}

.iconCall {
    width: 20rem;
    height: 20rem;
    margin-left: 5rem;
    margin-top: 10rem;
}

.iconSetting {
    width: 20rem;
    height: 20rem;
    margin-left: 10rem;
    margin-right: 10rem;
}
.iconBrowser {
    width: 20rem;
    height: 20rem;
    margin-left: 10rem;
    margin-right: 10rem;
}

.iconMessage2 {
    width: 20rem;
    height: 20rem;
    margin-left: 3rem;
    margin-right: 10rem;
}
.logo-icons {
    position: relative;
    z-index: -1;
    height:25rem;
    width: 25rem;
    border-radius: 50%;
    /*-webkit-animation: circleIcons 5s infinite;*/
    /*animation: circleIcons 5s infinite;*/
    /*background: red;*/
}

@media(max-width: 1200px) {
    .iconMessage {
        width: 3rem;
        margin-top: 5rem;
    }

    .iconBack {
        width: 2.5rem;
        margin-left: 5rem;
    }

    .iconWifi {
        width: 17rem;
        margin-top: 1rem;
        margin-left: -7.5rem;
    }

    .iconCamera {
        width: 13rem;
        height: 8rem;
        margin-left: 6rem;
    }

    .iconContacts {
        width: 10rem;
        height: 17rem;
        margin-left: 18rem;
        margin-top: -3rem;
    }

    .iconHome {
        width: 21rem;
        height: 12rem;
        margin-left: 11rem;
        margin-top: 13.5rem;
    }

    .iconCall {
        width: 17rem;
        height: 17rem;
        margin-left: 3rem;
        margin-top: 11rem;
    }

    .iconSetting {
        width: 17rem;
        height: 17rem;
        margin-left: 10rem;
        margin-right: 10rem;
        margin-top: 2rem;
    }

    .iconBrowser {
        width: 17rem;
        height: 17rem;
        margin-left: 16rem;
        margin-right: 10rem;
    }

    .iconMessage2 {
        width: 17rem;
        height: 17rem;
        margin-left: -3rem;
        margin-right: 0rem;
        margin-top: 2rem;
    }

    .container-for-iconVector {
        width: 200px;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
    }
}

@media(max-width: 1001px) {
    .star__projectRowContentRight {
        width: 50%;
        padding-top: 5.5rem;
        margin-left: 0%;
    }
}

@media(max-width: 992px) {
    .iconMessage {
        width: 2rem;
        margin-top: 3rem;
        margin-left: -3rem;
    }
    .iconBack {
        width: 2rem;
        margin-left: -2rem;
    }
    .iconWifi {
        width: 13rem;
        margin-top: -1.5rem;
        margin-left: -4rem;
    }
    .iconCamera {
        width: 10rem;
        height: 8rem;
        margin-left: 6.5rem;
    }
    .iconContacts {
        width: 10rem;
        height: 8rem;
        margin-left: 17rem;
        margin-top: 1rem;
    }

    .iconHome {
        width: 16rem;
        height: 12rem;
        margin-left: 14rem;
        margin-top: 13.5rem;
    }

    .iconCall {
        width: 13rem;
        height: 14rem;
        margin-left: 2rem;
        margin-top: 14rem;
    }

    .iconSetting {
        width: 13rem;
        height: 13rem;
        margin-left: 12rem;
        margin-top: 3rem;
    }
    .iconBrowser {
        width: 13rem;
        height: 17rem;
        margin-left: 18rem;
        margin-top: -1rem;
    }

    .iconMessage2 {
        width: 14rem;
        height: 14rem;
        margin-left: -7rem;
        margin-top: 0rem;
    }
}

@media(max-width: 928px) {
    .iconMessage {
        width: 2rem;
        margin-top: 3rem;
        margin-left: -3rem;
    }
    .iconBack {
        width: 2rem;
        margin-left: -2rem;
    }
    .iconWifi {
        width: 13rem;
        margin-top: -1.5rem;
        margin-left: -4rem;
    }
    .iconCamera {
        width: 10rem;
        height: 8rem;
        margin-left: 6.5rem;
    }
    .iconContacts {
        width: 10rem;
        height: 8rem;
        margin-left: 17rem;
        margin-top: 1rem;
    }

    .iconHome {
        width: 16rem;
        height: 12rem;
        margin-left: 14rem;
        margin-top: 13.5rem;
    }

    .iconCall {
        width: 13rem;
        height: 14rem;
        margin-left: 2rem;
        margin-top: 14rem;
    }

    .iconSetting {
        width: 13rem;
        height: 13rem;
        margin-left: 12rem;
        margin-top: 3rem;
    }
    .iconBrowser {
        width: 13rem;
        height: 17rem;
        margin-left: 18rem;
        margin-top: -1rem;
    }

    .iconMessage2 {
        width: 14rem;
        height: 14rem;
        margin-left: -7rem;
        margin-top: 0rem;
    }
}

@media(max-width: 601px) {
    .iconMessage {
        width: 1.5rem;
        margin-top: -2rem;
        margin-left: -11rem;
    }
    .iconBack {
        width: 1.5rem;
        margin-left: -2.5rem;
        margin-top: -1rem;
    }
    .iconWifi {
        width: 8.5rem;
        margin-top: -1.5rem;
        margin-left: -9rem;
    }
    .iconCamera {
        position: absolute;
        width: 7.5rem;
        height: 5.5rem;
        margin-top: -6rem;
        margin-left: 17rem;
    }
    .iconContacts {
        width: 7.5rem;
        height: 7.5rem;
        margin-left: 19rem;
        margin-top: -5rem;
    }

    .iconHome {
        width: 9.5rem;
        height: 7.5rem;
        margin-left: 28rem;
        margin-top: 12.5rem;
    }

    .iconCall {
        width: 9.5rem;
        height: 15.5rem;
        margin-left: 8rem;
        margin-top: 15rem;
    }

    .iconSetting {
        width: 13.5rem;
        height: 8.5rem;
        margin-left: 20.2rem;
        margin-top: 6rem;
    }
    .iconBrowser {
        width: 8.5rem;
        height: 11.5rem;
        margin-left: 21rem;
        margin-top: -7rem;
    }

    .iconMessage2 {
        width: 10rem;
        height: 8rem;
        margin-left: -11rem;
    }
}

@media(max-width: 429px) {
    .iconMessage {
        width: 1rem;
        margin-top: -2rem;
        margin-left: -11rem;
    }
    .iconBack {
        width: 1rem;
        margin-left: -2.5rem;
        margin-top: -1rem;
    }
    .iconWifi {
        width: 7rem;
        margin-top: -1.5rem;
        margin-left: -9rem;
    }
    .iconCamera {
        position: absolute;
        width: 6rem;
        height: 4rem;
        margin-top: -6rem;
        margin-left: 17rem;
    }
    .iconContacts {
        width: 6rem;
        height: 6rem;
        margin-left: 19rem;
        margin-top: -5rem;
    }

    .iconHome {
        width: 8rem;
        height: 6rem;
        margin-left: 28rem;
        margin-top: 12.5rem;
    }

    .iconCall {
        width: 8rem;
        height: 14rem;
        margin-left: 8rem;
        margin-top: 15rem;
    }

    .iconSetting {
        width: 12rem;
        height: 7rem;
        margin-left: 20.2rem;
        margin-top: 6rem;
    }
    .iconBrowser {
        width: 7rem;
        height: 10rem;
        margin-left: 21rem;
        margin-top: -6rem;
    }

    .iconMessage2 {
        width: 8rem;
        height: 8rem;
        margin-left: -11rem;
    }
}

@media(max-width: 416px) {
    .customLeft {
        margin-left: 0.3rem;
    }
    .iconMessage {
        width: 0.7rem;
        margin-top: -2.5rem;
        margin-left: -11rem;
    }
    .iconBack {
        width: 0.7rem;
        margin-left: -2.5rem;
        margin-top: -1rem;
    }
    .iconWifi {
        width: 5rem;
        margin-top: -1.1rem;
        margin-left: -8.5rem;
    }
    .iconCamera {
        position: absolute;
        width: 5rem;
        height: 3rem;
        margin-top: -7rem;
        margin-left: 17.5rem;
    }
    .iconContacts {
        width: 5rem;
        height: 5rem;
        margin-left: 19rem;
    }

    .iconHome {
        width: 7rem;
        height: 5rem;
        margin-left: 28rem;
        margin-top: 12.5rem;
    }

    .iconCall {
        width: 7rem;
        height: 14rem;
        margin-left: 7.5rem;
        margin-top: 14rem;
    }

    .iconSetting {
        width: 10rem;
        height: 5rem;
        margin-left: 20.2rem;
        margin-top: 6rem;
    }
    .iconBrowser {
        width: 6rem;
        height: 9rem;
        margin-left: 21rem;
        margin-top: -6rem;
    }

    .iconMessage2 {
        width: 7rem;
        height: 7rem;
        margin-left: -11rem;
    }
}

@media(max-width: 321px) {
    .iconMessage {
        width: 0.7rem;
        margin-top: -2rem;
        margin-left: -10rem;
    }
    .iconBack {
        width: 0.7rem;
        margin-left: -3rem;
        margin-top: -0.5rem;
    }
    .iconWifi {
        width: 5rem;
        margin-top: -1.5rem;
        margin-left: -8rem;
    }
    .iconCamera {
        position: absolute;
        width: 5rem;
        height: 3rem;
        margin-top: -6rem;
        margin-left: 17.5rem;
    }
    .iconContacts {
        width: 5rem;
        height: 5rem;
        margin-left: 19rem;
        margin-top: -5rem;
    }

    .iconHome {
        width: 7rem;
        height: 5rem;
        margin-left: 27.5rem;
        margin-top: 13.5rem;
    }

    .iconCall {
        width: 6rem;
        height: 12rem;
        margin-left: 7.5rem;
        margin-top: 15rem;
    }

    .iconSetting {
        width: 10rem;
        height: 5.5rem;
        margin-left: 20.2rem;
        margin-top: 7rem;
    }
    .iconBrowser {
        width: 6rem;
        height: 8rem;
        margin-left: 23rem;
        margin-top: -4.5rem;
    }

    .iconMessage2 {
        width: 7rem;
        height: 7rem;
        margin-left: -10.5rem;
        margin-top: 1rem;
    }
}
