.formRequest {
    width: 100%;
    margin-top: 5rem;
}

.form-request {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 33rem;
    height: 30rem;
}

.form-header-title {
    position: relative;
    z-index: 2;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.from-pryam1 {
    position: relative;
    z-index: 5;
}

.from-pryam2 {
    position: absolute;
    z-index: 6;
    height: 100%;
}

.from-pryam3 {
    position: absolute;
    z-index: 7;
}

.from-pryam4 {
    position: absolute;
    z-index: 9;
    /*font-size: 46px;*/
    /*line-height: 57px;*/
    /*color: #4000ff;*/
    /*font-weight: 700;*/
    /*max-width: 750px;*/
    margin-top: 1.5rem;
    color: blue;
    font-weight: bold;
    margin-top: 3rem;
}
.from-pryam4Safari {
    color: blue;
    font-weight: bold;
    margin-bottom: 6rem;
    text-decoration: underline;
}

.card {
    position: relative;
    z-index: 1;
    border-radius: 15px;
    background-color: #dedede;
}

.form {
    position: relative;
    z-index: 2;
    width: 33rem;
    height: 30rem;
    border-radius: 15px;
    background-color: #efefef;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
}

.input {
    font-size: 16px;
    width: 27rem;
    height: 3rem;
    border-radius: 29px;
    background-color: #efefef;
    border: 1px solid #dedede;
    margin-bottom: 30px;
    padding-left: 1rem;
    outline: none;
}

.inputValidation {
    font-size: 16px;
    width: 27rem;
    height: 3rem;
    border-radius: 29px;
    background-color: #efefef;
    border: 3px solid red;
    margin-bottom: 30px;
    padding-left: 1rem;
    outline: none;
    color: red;
}

textarea {
    font-size: 16px;
    width: 27rem;
    height: 13.5rem;
    border-radius: 29px;
    background-color: #efefef;
    border: 1px solid #dedede;
    padding: 1rem;
    outline: none;
}

.form__skrepka {
    width: 0.9rem;
    height: 1.2rem;
    margin-right: auto;
    margin-top: 0.35rem;
    margin-left: 4.5rem;
    color: #000000;
}

.btnForm {
    width: 13rem;
    height: 2.2rem;
    border-radius: 37px;
    /*filter: drop-shadow(0px 5px 2.5px rgba(0, 0, 0, 0.1)) drop-shadow(0px 10px 3px rgba(0, 0, 0, 0.09)) drop-shadow(0px 15px 3.5px rgba(0, 0, 0, 0.08)) drop-shadow(0px 20px 4px rgba(0, 0, 0, 0.07)) drop-shadow(0px 25px 4.5px rgba(0, 0, 0, 0.06)) drop-shadow(0px 30px 5px rgba(0, 0, 0, 0.05)) drop-shadow(0px 35px 5.5px rgba(0, 0, 0, 0.04)) drop-shadow(0px 40px 6px rgba(0, 0, 0, 0.03)) drop-shadow(0px 45px 6.5px rgba(0, 0, 0, 0.02)) drop-shadow(0px 50px 7px rgba(0, 0, 0, 0.01));*/
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.1rem;
    margin-bottom: 3.1rem;
    display: flex;
    justify-content: center;
}

.btnForm-twoSloy {
    width: 13rem;
    height: 2.2rem;
    border-radius: 37px;
    background-color: white;
    border: 1px solid #e8e8e8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-threeSloyBefore {
    width: 9rem;
    height: 2.2rem;
    border-radius: 32px;
    filter: drop-shadow(0px 5px 2.5px rgba(0, 0, 0, 0.1)) drop-shadow(0px 10px 3px rgba(0, 0, 0, 0.09)) drop-shadow(0px 15px 3.5px rgba(0, 0, 0, 0.08)) drop-shadow(0px 20px 4px rgba(0, 0, 0, 0.07)) drop-shadow(0px 25px 4.5px rgba(0, 0, 0, 0.06)) drop-shadow(0px 30px 5px rgba(0, 0, 0, 0.05)) drop-shadow(0px 35px 5.5px rgba(0, 0, 0, 0.04)) drop-shadow(0px 40px 6px rgba(0, 0, 0, 0.03)) drop-shadow(0px 45px 6.5px rgba(0, 0, 0, 0.02)) drop-shadow(0px 50px 7px rgba(0, 0, 0, 0.01));
    background-color: #cb6ce6;
    opacity: 0.5;
}

.btn-threeSloyAfter {
    width: 13rem;
    height: 2.2rem;
    border-radius: 32px;
    filter: drop-shadow(0px 5px 2.5px rgba(0, 0, 0, 0.1)) drop-shadow(0px 10px 3px rgba(0, 0, 0, 0.09)) drop-shadow(0px 15px 3.5px rgba(0, 0, 0, 0.08)) drop-shadow(0px 20px 4px rgba(0, 0, 0, 0.07)) drop-shadow(0px 25px 4.5px rgba(0, 0, 0, 0.06)) drop-shadow(0px 30px 5px rgba(0, 0, 0, 0.05)) drop-shadow(0px 35px 5.5px rgba(0, 0, 0, 0.04)) drop-shadow(0px 40px 6px rgba(0, 0, 0, 0.03)) drop-shadow(0px 45px 6.5px rgba(0, 0, 0, 0.02)) drop-shadow(0px 50px 7px rgba(0, 0, 0, 0.01));
    background-color: #cb6ce6;
    opacity: 0.5;
}

.btn-fourSloyBefore {
    width: 9rem;
    height: 2.2rem;
    border-radius: 32px;
    background-color: #c000ff;
}

.btn-fourSloyAfter {
    width: 13rem;
    height: 2.2rem;
    border-radius: 32px;
    background-color: #c000ff;
}

.btn-fourSloyTitle {
    padding: 0.4rem;
    padding-left: 1rem;
    color: #ffffff;
}

.ellipse-btnFormBefore {
    width: 1rem;
    height: 1rem;
    border-radius: 13px;
    background-color: #4f47ff;
    margin-right: 0.8rem;
    cursor: pointer;
}

.ellipse-btnFormAfter {
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 13px;
    background-color: #4f47ff;
    margin-left: 11rem;
    cursor: pointer;
}

.input-file {
    position: relative;
    z-index: 2222;
    opacity: 0;
    margin-top: -2rem;
    margin-left: -9rem;
}
.submit-form {
    position: absolute;
    margin-top: 88.5%;
    margin-left: 29%;
    width: 10%;
    height: 7%;
    opacity: 0;
}
.from-pryam1, .from-pryam2, .from-pryam3, .from-pryam4, .from-pryam4Safari {
    display: flex;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1200px) {
    .btnForm, .btnForm-twoSloy, .btn-threeSloyBefore, .btn-fourSloyBefore, .btn-threeSloyAfter, .btn-fourSloyAfter {
        height: 2rem;
    }

    .input {
        margin-bottom: 15px;
    }

    .btnForm, .btnForm-twoSloy, .btn-threeSloyAfter, .btn-fourSloyAfter {
        width: 11rem;
    }

    .btn-threeSloyBefore, .btn-fourSloyBefore {
        width: 7rem;
        height: 2rem;
    }

    .btn-fourSloyTitle {
        padding: 0.3rem;
        padding-left: 0.6rem;
    }

    .ellipse-btnFormAfter {
        position: absolute;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 13px;
        background-color: #4f47ff;
        margin-left: 9.4rem;
        cursor: pointer;
    }

    .ellipse-btnFormBefore {
        width: 0.75rem;
        height: 0.75rem;
    }
}

@media(max-width: 995px) {
    .btn-fourSloyTitle {
        padding: 0.3rem;
        padding-left: 0.6rem;
        padding-top: 0.2rem;
        font-size: 16px!important;
    }

}

@media (max-width: 927px) {
    .form-request, .card, .form {
        width: 26rem;
        height: 23rem;
    }

    .input {
        width: 23rem;
    }

    textarea {
        width: 22rem;
        height: 11rem;
        font-size: 0.7rem;
        border-radius: 16px;
    }

    .from-pryam1, .from-pryam2, .from-pryam3, .from-pryam4, .from-pryam4Safari {
        width: 36rem;
    }

    .input {
        font-size: 0.7rem;
        width: 22rem;
        height: 2.1rem;
        border-radius: 29px;
        background-color: #efefef;
        border: 1px solid #dedede;
        margin-bottom: 11px;
        padding-left: 1rem;
        outline: none;
    }

    .form__skrepka {
        width: 0.7rem;
        height: 1rem;
        margin-right: auto;
        margin-top: 0.55rem;
        margin-left: 3rem;
        color: #000000;
    }

    .form-input {
        padding-top: 3rem;
    }

    .from-pryam4, .from-pryam4Safari {
        margin-top: 2rem;
    }

}

@media (max-width: 813px) {
    .btn-fourSloyTitle {
        padding: 0.4rem;
        padding-left: 1rem;
        font-size: 14px !important;
    }
}

@media (max-width: 769px) {
    .btnForm, .btnForm-twoSloy, .btn-threeSloyBefore, .btn-fourSloyBefore, .btn-threeSloyAfter, .btn-fourSloyAfter {
        height: 1.5rem;
    }

    .btnForm, .btnForm-twoSloy, .btn-threeSloyAfter, .btn-fourSloyAfter {
        width: 9rem;
    }

    .btn-threeSloyBefore, .btn-fourSloyBefore {
        width: 6rem;
    }

    .ellipse-btnFormBefore {
        width: 0.6rem;
        height: 0.6rem;
    }

    .ellipse-btnFormAfter {
        width: 0.6rem;
        height: 0.6rem;
        margin-left: 7.5rem;
    }

    .btn-fourSloyTitle {
        padding: 0.154rem;
        padding-left: 0.6rem;
        font-size: 13px !important;
    }
}

@media (max-width: 736px) {
    .form-header-title {
        position: relative;
        z-index: 2;
        width: 533px;
    }
}

@media (max-width: 601px) {
    .submit-form {
        position: absolute;
        margin-top: 99.5%;
        margin-left: 29%;
        width: 10%;
        height: 7%;
    }
    .card {
        border-radius: 13px;
    }

    .form-request, .card, .form {
        width: 20rem;
        height: 20rem;
    }

    .input {
        width: 17rem;
        font-size: 0.7rem;
        height: 2rem;
    }

    textarea {
        width: 17rem;
        height: 10rem;
        font-size: 0.7rem;
    }

    .from-pryam1, .from-pryam2, .from-pryam3, .from-pryam4, .from-pryam4Safari {
        width: 23rem;
    }

    .form-header-title {
        position: relative;
        z-index: 2;
        width: 300px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    .form__skrepka {
        width: 0.3rem;
        height: 1rem;
        margin-left: 2.3rem;
    }

    .from-pryam4. .from-pryam4Safari {
        font-size: 18px;
        margin-top: 1.3rem;
    }

    .btnForm, .btnForm-twoSloy {
        width: 6rem !important;
        height: 1rem !important;
    }

    .btn-threeSloyBefore, .btn-fourSloyBefore {
        width: 3.7rem !important;
        height: 1rem !important;
    }

    .btn-threeSloyAfter, .btn-fourSloyAfter {
        width: 6rem !important;
        height: 1rem !important;
    }

    .ellipse-btnFormBefore {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 13px;
        background-color: #4f47ff;
        margin-right: 0.4rem;
        cursor: pointer;
    }

    .ellipse-btnFormAfter {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 13px;
        background-color: #4f47ff;
        margin-left: 5rem;
        cursor: pointer;
    }

    .btn-fourSloyTitle {
        padding-top: 0.15rem;
        padding-left: 0.4rem;
        color: #ffffff;
        font-size: 0.3rem;
    }

    .input {
        margin-bottom: 8px;
    }


    .form-request, .card, .form {
        width: 15rem;
        height: 15rem;
    }

    .form-input {
        padding-top: 2rem;
    }

    .input {
        width: 12rem;
        font-size: 0.5rem;
        height: 1.8rem;
        padding-left: 0.5rem;
    }

    textarea {
        border-radius: 17px;
        padding: 0.8rem;
        font-size: 0.5rem;
        width: 12rem;
        height: 6.5rem;
        border-radius: 11px;
        background-color: #efefef;
        border: 1px solid #dedede;
        padding: 0.5rem;
        outline: none;
    }

    .btn-fourSloyTitle {
        font-size: 9px !important;
    }
    .from-pryam4, .from-pryam4Safari {
        font-size: 17px;
    }
}

@media(max-width: 430px) {
    .from-pryam4Safari {
        margin-bottom: 5rem;
    }
    .from-pryam4Safari, .from-pryam4  {
        font-size: 16px;
    }
    .from-pryam4, .from-pryam4Safari {
        margin-top: 1.5rem;
    }
}

@media (max-width: 376px) {
    .formRequest {
        width: 100%;
    }

    .form-request, .card, .form {
        width: 11rem;
        height: 11rem;
    }
    .form-input {
        padding-top: 1rem;
    }

    .input {
        width: 9rem;
        font-size: 7px;
        height: 1.3rem;
    }

    textarea {
        border-radius: 11px !important;
        padding: 0.37rem !important;
        width: 9rem;
        height: 5rem;
        font-size: 7px;
    }

    .from-pryam1, .from-pryam2, .from-pryam3, .from-pryam4, .from-pryam4Safari {
        width: 16rem;
    }
    .from-pryam4Safari {
        margin-bottom: 2rem;
    }

    .from-pryam4, .from-pryam4Safari  {
        font-size: 12px;
        margin-top: 1rem;
    }

    .form__skrepka {
        width: 0.3rem;
        height: 0.5rem;
        margin-top: 0.35rem;
        margin-left: 1.7rem;
    }

    .btnForm, .btnForm-twoSloy {
        width: 5rem !important;
        height: 1rem !important;
    }

    .btn-threeSloyBefore, .btn-fourSloyBefore {
        width: 3rem !important;
        height: 1rem !important;
    }

    .btn-threeSloyAfter, .btn-fourSloyAfter {
        width: 5rem !important;
        height: 1rem !important;
    }

    .btn-fourSloyTitle {
        padding: 0.2rem;
        padding-left: 0.4rem;
        font-size: 7px !important;
    }

    .ellipse-btnFormAfter {
        margin-left: 4.2rem;
        width: 0.35rem;
        height: 0.35rem;
    }

    .ellipse-btnFormBefore {
        width: 0.35rem;
        height: 0.35rem;
    }

    .input {
        margin-bottom: 7px;
    }

    .form-header-title {
        position: relative;
        z-index: 2;
        width: 75%;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }

    textarea {
        border-radius: 8px !important;
        padding: 0.37rem !important;
    }

    .submit-form {
        position: absolute;
        margin-top: 110.5%;
        margin-left: 29%;
        width: 10%;
        height: 7%;
    }

}

@media (max-width: 321px) {
    .btnForm, .btnForm-twoSloy, .btn-threeSloyBefore, .btn-fourSloyBefore, .btn-threeSloyAfter, .btn-fourSloyAfter {
        height: 0.8rem !important;
    }

    .form-request, .card, .form {
        width: 10rem;
        height: 10rem;
    }

    .input {
        width: 9rem;
        font-size: 7px;
        height: 1.3rem;
    }

    textarea {
        border-radius: 8px !important;
        padding: 0.37rem !important;
        width: 9rem;
        height: 4.3rem;
        font-size: 7px;
    }

    .from-pryam1, .from-pryam2, .from-pryam3, .from-pryam4, .from-pryam4Safari {
        width: 15rem;
    }

    .form-header-title {
        width: 200px;
    }

    .btnForm {
        margin-top: 1rem;
    }

    .input {
        margin-bottom: 5px;
    }

    .form__skrepka {
        width: 0.3rem;
        height: 0.5rem;
        margin-top: 0.35rem;
        margin-left: 1rem;
    }

    .btnForm, .btnForm-twoSloy, .btn-threeSloyAfter, .btn-fourSloyAfter {
        width: 4rem !important;
    }

    .btn-threeSloyBefore, .btn-fourSloyBefore {
        width: 2.5rem !important;
    }

    .ellipse-btnFormBefore {
        width: 0.3rem;
        height: 0.3rem;
        border-radius: 13px;
        background-color: #4f47ff;
        margin-right: 0.4rem;
        cursor: pointer;
    }

    .ellipse-btnFormAfter {
        width: 0.3rem;
        height: 0.3rem;
        border-radius: 13px;
        background-color: #4f47ff;
        margin-left: 3.2rem;
        cursor: pointer;
    }

    .btn-fourSloyTitle {
        padding: 0.15rem;
        padding-left: 1rem;
        font-size: 6px !important;
        padding-left: 0.2rem;
    }
}
