.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.55);
    border-color: rgba(0,0,0,.1);
    margin-left: auto;
}

.header {
    margin-top: 1.5%;
    border-bottom: 1px solid black;
}

.header__logo {
    width: 100%;
    margin-bottom: -10%;
    border-bottom: 15px solid white;
    border-left: 7px solid white;
    border-right: 7px solid white;
}

a.nav-link {
    font-family: 'Work Sans', sans-serif;
}

/*.header__navLeft, .header__navRight {*/
/*    margin-top: 0.5%;*/
/*}*/

/*.header__link {*/
/*    text-decoration: none;*/
/*    margin-right: 15%;*/
/*    font-weight: 300;*/
/*    color: #000000;*/
/*}*/

/*.header__link:hover {*/
/*    padding-top: 1rem;*/
/*    border-top: 2px solid #7b5cdc;*/
/*}*/

/*.header__navLeft {*/
/*}*/


.navbar-expand-md .navbar-nav {
    flex-direction: row;
    margin-left: auto;
}

.nav-itemLeft {
    margin-right: 6rem;
}

@media (max-width: 1400px) {
    .nav-itemLeft {
        margin-right: 4rem;
    }
}

@media (max-width: 1200px) {
    .nav-itemLeft {
        margin-right: 2rem;
    }
}

@media (max-width: 992px) {
    .nav-itemLeft {
        margin-right: 0.5rem;
    }

    a.nav-link {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    a.nav-link {
        font-size: 11px;
        font-weight: 500;
        background-color: transparent;
    }
    .navbar-toggler {
        padding: .15rem .45rem;
        font-size: 0.78rem;
    }
    .header__logo {
        width: 40%;
        border-left: 0px solid white;
        border-right: 0px solid white;
        border-bottom: 0px solid white;
        margin-bottom: 2px;
    }
    button.navbar-toggler.ml-auto {
        margin-right: 2%;
        font-size: 12px;
    }
    .navbar, .navmenu-brand {
        padding: 0rem!important;
    }

    .navbar-expand-md .navbar-nav {
        flex-direction: column;
    }
    .header {
        margin-top: 0%;
        border-bottom: 1px solid black;
    }

}

/*@media (max-width: 589px) {*/
/*    .header__logo {*/
/*        width: 50%;*/
/*    }*/
/*}*/

/*@media (max-width: 430px) {*/
/*    .header__logo {*/
/*        width: 46%;*/
/*        margin-bottom: -16%;*/
/*    }*/

/*    .navbar-toggler {*/
/*        padding: 0.25rem .52rem;*/
/*        font-size: 0.75rem;*/
/*        line-height: 1;*/
/*        background-color: transparent;*/
/*        border: 1px solid transparent;*/
/*        border-radius: .25rem;*/
/*        transition: box-shadow .15s ease-in-out;*/
/*        margin-bottom: -4%;*/
/*    }*/

/*    a.nav-link {*/
/*        font-size: 10px;*/
/*    }*/
/*}*/


/*!*@media(max-width: 1025px) {*!*/
/*!*    .header__link {*!*/
/*!*        font-size: 80%;*!*/
/*!*    }*!*/
/*!*    .header__logo {*!*/
/*!*        width: 40%;*!*/
/*!*    }*!*/
/*!*}*!*/

/*!*@media(max-width: 992px) {*!*/
/*!*    .header__link {*!*/
/*!*        font-size: 70%;*!*/
/*!*    }*!*/
/*!*    .header__logo {*!*/
/*!*        margin-bottom: -13%;*!*/
/*!*    }*!*/
/*!*    .header {*!*/
/*!*        margin-top: 3%;*!*/
/*!*        height: 35px;*!*/
/*!*        border-bottom: 1px solid black;*!*/
/*!*    }*!*/
/*!*}*!*/

/*!*@media(max-width: 768px) {*!*/
/*!*    .header {*!*/
/*!*        margin-top: 3%;*!*/
/*!*        height: 25px;*!*/
/*!*        border-bottom: 1px solid black;*!*/
/*!*    }*!*/
/*!*    .header__link {*!*/
/*!*        font-size: 53%;*!*/
/*!*    }*!*/
/*!*    .header__logo {*!*/
/*!*        width: 34%;*!*/
/*!*        margin-bottom: -3%;*!*/
/*!*        border-bottom: 11px solid white;*!*/
/*!*        border-left: 7px solid white;*!*/
/*!*        border-right: 7px solid white;*!*/
/*!*    }*!*/
/*!*    .header__navLeft, .header__navRight {*!*/
/*!*        margin-top: -0.5%;*!*/
/*!*    }*!*/
/*!*}*!*/

/*!*@media(max-width: 576px) {*!*/
/*!*    .header__link {*!*/
/*!*        text-decoration: none;*!*/
/*!*        margin-right: 11%;*!*/
/*!*        font-weight: 300;*!*/
/*!*        color: #000000;*!*/
/*!*    }*!*/
/*!*    .header__linkContacts {*!*/
/*!*        margin-left: -100%;*!*/
/*!*    }*!*/
/*!*    .header__navLeft, .header__navRight {*!*/
/*!*        margin-top: -1.5%;*!*/
/*!*    }*!*/
/*!*}*!*/

/*!*@media(max-width: 443px) {*!*/
/*!*    .header__link {*!*/
/*!*        font-size: 40%;*!*/
/*!*    }*!*/
/*!*    .header {*!*/
/*!*        margin-top: 3%;*!*/
/*!*        height: 20px;*!*/
/*!*        border-bottom: 1px solid black;*!*/
/*!*    }*!*/
/*!*    .header__navLeft, .header__navRight {*!*/
/*!*        margin-top: -2.5%;*!*/
/*!*    }*!*/
/*!*    .header__linkContacts {*!*/
/*!*        margin-left: -150%;*!*/
/*!*    }*!*/
/*!*    .header__logo {*!*/
/*!*        margin-bottom: 0%;*!*/
/*!*        border-bottom: 11px solid white;*!*/
/*!*        border-left: 7px solid white;*!*/
/*!*        border-right: 7px solid white;*!*/
/*!*    }*!*/
/*!*}*!*/

/*!*@media (max-width: 376px) {*!*/
/*!*    .header {*!*/
/*!*        margin-top: 3%;*!*/
/*!*        height: 12px;*!*/
/*!*        border-bottom: 1px solid black;*!*/
/*!*    }*!*/
/*!*    .header__navLeft, .header__navRight {*!*/
/*!*        margin-top: -3.5%;*!*/
/*!*    }*!*/
/*!*    .header__logo {*!*/
/*!*        width: 34%;*!*/
/*!*        margin-bottom: -3%;*!*/
/*!*        border-bottom: 32px solid white;*!*/
/*!*        border-left: 5px solid white;*!*/
/*!*        border-right: 9px solid white;*!*/
/*!*    }*!*/
/*!*    .header__linkContacts {*!*/
/*!*        margin-left: -300%;*!*/
/*!*    }*!*/
/*!*    .header__link {*!*/
/*!*        font-size: 25%;*!*/
/*!*    }*!*/
/*!*}*!*/

/*!*@media(max-width: 329px) {*!*/
/*!*    .header__link {*!*/
/*!*        font-size: 4px;*!*/
/*!*    }*!*/
/*!*}*!*/


