.ten {
    position: relative;
    z-index: -1;
    min-height: 900px;
    width: 100%;
    margin-bottom: -235px;
}

.tenSloy {
    position: relative;
    z-index: 1;
    min-height: 900px;
    clip-path: polygon(50% 13%, 100% 0, 100% 61%, 50% 74%, 0 74%, 0 13%);
    background: #4200ff;

    width: 100%;
}

.ten__img {
    position: absolute;
    z-index: 2;
    width: 100%;
    min-height: 742px;
}

.ten__content {
    position: absolute;
    z-index: 3;
}

.ten__contentLeftTitle {
    padding-top: 45%;
    color: #ffffff;
    font-weight: bold;
}

.ten__yog {
    position: absolute;
    height: 540px;
    object-fit: contain;
    width: 46%;
    margin-left: 44%;
    animation: tenyog 1.2s infinite;
    margin-top: 7%;
}

@-webkit-keyframes tenyog {
    0% {
        margin-top: 7%;
    }
    50% {
        margin-top: 7.5%;
    }
    100% {
        margin-top: 7%;
    }
}

@keyframes tenyog {
    0% {
        margin-top: 7%;
    }
    50% {
        margin-top: 7.5%;
    }
    100% {
        margin-top: 7%;
    }
}

.ellipse {
    position: absolute;
    z-index: 9999;
    background-color: #3f00fd;
    width: 8%;
    height: 4%;
    opacity: 0.3;
    border-radius: 110px / 30px;
    margin-top: -17%;
    margin-left: 63%;
    /* -webkit-animation: tenellipse 1.2s infinite; */
    /* animation: tenellipse 1.2s infinite; */
}

/*@-webkit-keyframes tenellipse{*/
/*    0% {*/
/*        margin-top: -16rem;*/
/*    }*/
/*    50% {*/
/*        margin-top: -15.5rem;*/
/*    }*/
/*    100% {*/
/*        margin-top: -16rem;*/
/*    }*/
/*}*/

/*@keyframes tenellipse{*/
/*    0% {*/
/*        margin-top: -16rem;*/
/*    }*/
/*    50% {*/
/*        margin-top: -15.5rem;*/
/*    }*/
/*    100% {*/
/*        margin-top: -16rem;*/
/*    }*/
/*}*/



@media (min-width: 1600px) {
    .ten__yog {
        height: 554px;
        margin-left: 50%;
        margin-top: 2rem;
    }

    .ellipse {
        margin-left: 69%;
        margin-top: -16rem;
    }
}

@media(max-width: 1201px) {
    .ten__contentLeftTitle {
        padding-top: 53%;
        color: #ffffff;
        font-weight: bold;
        font-size: 55px;
    }
}

@media(max-width: 1441px) {
    .ellipse {
        margin-top: -16rem;
    }
}

@media (max-width: 1200px) {
    .ten {
        margin-bottom: -131px;
    }

    .ten__contentLeftTitle {
        padding-top: 36%;
        color: #ffffff;
        font-weight: bold;
        font-size: 45px;
    }

    .ten, .tenSloy, .ten__img {
        min-height: 505px;
    }

    .ten__yog {
        position: absolute;
        height: 300px;
        object-fit: contain;
        width: 540px;
        margin-left: 47%;
        margin-top: 3.5rem;
        animation: tenyog1024 2s infinite !important;
    }

    .ellipse {
        margin-top: -9rem;
        margin-left: 66%;
        animation: tenellipse1024 2s infinite !important;
    }

    /*@-webkit-keyframes tenellipse1024{*/
    /*    0% {*/
    /*        margin-top: -10.5rem;*/
    /*    }*/
    /*    50% {*/
    /*        margin-top: -10rem*/
    /*    }*/
    /*    100% {*/
    /*        margin-top: -10.5rem;*/
    /*    }*/
    /*}*/
    /*@keyframes tenellipse1024{*/
    /*    0% {*/
    /*        margin-top: -10.5rem;*/
    /*    }*/
    /*    50% {*/
    /*        margin-top: -10rem*/
    /*    }*/
    /*    100% {*/
    /*        margin-top: -10.5rem;*/
    /*    }*/
    /*}*/
    @-webkit-keyframes tenyog1024 {
        0% {
            margin-top: 3.5rem;
        }
        50% {
            margin-top: 4rem;
        }
        100% {
            margin-top: 3.5rem;
        }
    }

    @keyframes tenyog1024 {
        0% {
            margin-top: 3.5rem;
        }
        50% {
            margin-top: 4rem;
        }
        100% {
            margin-top: 3.5rem;
        }
    }
}

@media(max-width: 1025px) {
    .ten__yog {
        position: absolute;
        height: 300px;
        object-fit: contain;
        width: 540px;
        margin-left: 24rem;
        margin-top: 3.5rem;
        animation: tenyog1024 2s infinite !important;
    }

    .ellipse {
        margin-top: -9rem;
        margin-left: 38.5rem;
        animation: tenellipse1024 2s infinite !important;
    }
}

@media (max-width: 992px) {
    .ten__contentLeftTitle {
        padding-top: 40%;
        color: #ffffff;
        font-weight: bold;
        font-size: 230%;
    }
}

@media (max-width: 926px) {
    .ten__yog {
        position: absolute;
        height: 300px;
        object-fit: contain;
        width: 540px;
        margin-left: 18rem;
        margin-top: 3.5rem;
        animation: tenyog1024 2s infinite !important;
    }

    .ellipse {
        margin-top: -9rem;
        margin-left: 33rem;
        animation: tenellipse1024 2s infinite !important;
    }
}

@media (max-width: 867px) {
    .ten {
        margin-bottom: -96px;
    }

    .ten, .tenSloy, .ten__img {
        min-height: 372px;
    }

    .ten__yog {
        position: absolute;
        height: 220px;
        object-fit: contain;
        width: 449px;
        margin-left: 21rem;
        animation: tenyog768 2s infinite !important;
    }

    .ellipse {
        margin-left: 33rem;
        margin-top: -6.5rem;
        width: 80px;
        height: 16px;
        animation: tenellipse768 2s infinite !important;
    }

    .ten__contentLeftTitle {
        padding-top: 32%;
        color: #ffffff;
        font-weight: bold;
        font-size: 210%;
    }

    /*@-webkit-keyframes tenellipse768{*/
    /*    0% {*/
    /*        margin-top: -8.5rem;*/
    /*    }*/
    /*    50% {*/
    /*        margin-top: -9rem;*/
    /*    }*/
    /*    100% {*/
    /*        margin-top: -8.5rem;*/
    /*    }*/
    /*}*/
    /*@keyframes tenellipse768{*/
    /*    0% {*/
    /*        margin-top: -8.5rem;*/
    /*    }*/
    /*    50% {*/
    /*        margin-top: -9rem;*/
    /*    }*/
    /*    100% {*/
    /*        margin-top: -8.5rem;*/
    /*    }*/
    /*}*/
    @-webkit-keyframes tenyog768 {
        0% {
            margin-top: 2rem;
        }
        50% {
            margin-top: 2.7rem;
        }
        100% {
            margin-top: 2rem;
        }
    }

    @keyframes tenyog768 {
        0% {
            margin-top: 2rem;
        }
        50% {
            margin-top: 2.7rem;
        }
        100% {
            margin-top: 2rem;
        }
    }
}


@media (max-width: 845px) {
    .ten {
        margin-bottom: -96px;
    }

    .ten, .tenSloy, .ten__img {
        min-height: 372px;
    }

    .ten__yog {
        position: absolute;
        height: 220px;
        object-fit: contain;
        width: 449px;
        margin-left: 19rem;
        animation: tenyog768 2s infinite !important;
    }

    .ellipse {
        margin-left: 31rem;
        margin-top: -6.5rem;
        width: 80px;
        height: 16px;
        animation: tenellipse768 2s infinite !important;
    }

    .ten__contentLeftTitle {
        padding-top: 8rem;
        color: #ffffff;
        font-weight: bold;
        font-size: 32px;
    }

    /*@-webkit-keyframes tenellipse768{*/
    /*    0% {*/
    /*        margin-top: -8.5rem;*/
    /*    }*/
    /*    50% {*/
    /*        margin-top: -9rem;*/
    /*    }*/
    /*    100% {*/
    /*        margin-top: -8.5rem;*/
    /*    }*/
    /*}*/
    /*@keyframes tenellipse768{*/
    /*    0% {*/
    /*        margin-top: -8.5rem;*/
    /*    }*/
    /*    50% {*/
    /*        margin-top: -9rem;*/
    /*    }*/
    /*    100% {*/
    /*        margin-top: -8.5rem;*/
    /*    }*/
    /*}*/
    @-webkit-keyframes tenyog768 {
        0% {
            margin-top: 2rem;
        }
        50% {
            margin-top: 2.7rem;
        }
        100% {
            margin-top: 2rem;
        }
    }

    @keyframes tenyog768 {
        0% {
            margin-top: 2rem;
        }
        50% {
            margin-top: 2.7rem;
        }
        100% {
            margin-top: 2rem;
        }
    }
}

@media (max-width: 813px) {
    .ten__contentLeftTitle {
        padding-top: 8rem;
        color: #ffffff;
        font-weight: bold;
        font-size: 32px;
    }
}

@media (max-width: 767px) {
    .ten__contentLeftTitle {
        font-size: 28px;
    }

    .ten__yog {
        position: absolute;
        height: 220px;
        object-fit: contain;
        width: 449px;
        margin-left: 17rem;
        animation: tenyog768 2s infinite !important;
    }

    .ellipse {
        margin-left: 28.5rem;
        margin-top: -6.5rem;
        width: 80px;
        height: 16px;
        animation: tenellipse768 2s infinite !important;
    }
}

@media (max-width: 736px) {
    .ten__yog {
        position: absolute;
        height: 220px;
        object-fit: contain;
        width: 449px;
        margin-left: 15rem;
        animation: tenyog768 2s infinite !important;
    }

    .ellipse {
        margin-left: 27rem;
        margin-top: -6.6rem;
        width: 70px;
        height: 16px;
        animation: tenellipse768 2s infinite !important;
    }

    .ten__contentLeftTitle {
        font-size: 29px;
    }
}

@media(max-width: 676px) {
    .ten__yog {
        position: absolute;
        height: 220px;
        object-fit: contain;
        width: 449px;
        margin-left: 13rem;
        animation: tenyog768 2s infinite !important;
    }

    .ellipse {
        margin-left: 25rem;
        margin-top: -6.5rem;
        width: 80px;
        height: 16px;
        animation: tenellipse768 2s infinite !important;
    }
}

@media (max-width: 668px) {
    .ten__yog {
        position: absolute;
        height: 220px;
        object-fit: contain;
        width: 449px;
        margin-left: 13rem;
        animation: tenyog768 2s infinite !important;
    }

    .ellipse {
        margin-left: 24rem;
        margin-top: -6.5rem;
        width: 80px;
        height: 16px;
        animation: tenellipse768 2s infinite !important;
    }

    .ten__contentLeftTitle {
        padding-top: 8rem;
        color: #ffffff;
        font-weight: bold;
        font-size: 29px;
    }
}

@media (max-width: 641px) {
    .ten__yog {
        position: absolute;
        height: 220px;
        object-fit: contain;
        width: 418px;
        margin-left: 13rem;
        animation: tenyog768 2s infinite !important;
    }

    .ten__contentLeftTitle {
        padding-top: 8rem;
        color: #ffffff;
        font-weight: bold;
        font-size: 24px;
    }
}

@media (max-width: 601px) {
    .ten, .tenSloy, .ten__img {
        min-height: 321px;
    }

    .ten__contentLeftTitle {
        padding-top: 7rem;
        color: #ffffff;
        font-weight: bold;
        font-size: 22px;
    }

    .ten__yog {
        position: absolute;
        height: 190px;
        object-fit: contain;
        width: 449px;
        margin-left: 19rem;
        animation: tenyog768 2s infinite !important;
    }

    .ellipse {
        margin-left: 22.5rem;
        margin-top: -5.5rem;
        width: 80px;
        height: 16px;
        animation: tenellipse768 2s infinite !important;
    }

    .ten {
        margin-bottom: -84px;
    }
}

@media (max-width: 480px) {
    .ellipse {
        margin-left: 18.5rem;
    }

    .ten__yog {
        margin-left: 15rem;
    }
}

@media (max-width: 429px) {
    .ten {
        margin-bottom: -57px;
    }

    .ten, .tenSloy, .ten__img {
        min-height: 217px;
    }

    .ten__yog {
        position: absolute;
        height: 125px;
        object-fit: contain;
        width: 190px !important;
        margin-left: 12rem;
        margin-top: 2.5rem;
        animation: tenyog425 2s infinite !important;
    }

    .ellipse {
        margin-left: 16.8rem !important;
        margin-top: -3.8rem;
        width: 39px;
        height: 11px;
        /* animation: tenellipse425 2s infinite!important; */
    }

    .ten__contentLeftTitle {
        padding-top: 4.5rem;
        font-size: 17px;
    }

    /*@-webkit-keyframes tenellipse425{*/
    /*    0% {*/
    /*        margin-top: -5rem;*/
    /*    }*/
    /*    50% {*/
    /*        margin-top: -5.1rem;*/
    /*    }*/
    /*    100% {*/
    /*        margin-top: -5rem;*/
    /*    }*/
    /*}*/
    /*@keyframes tenellipse425{*/
    /*    0% {*/
    /*        margin-top: -5rem;*/
    /*    }*/
    /*    50% {*/
    /*        margin-top: -5.1rem;*/
    /*    }*/
    /*    100% {*/
    /*        margin-top: -5rem;*/
    /*    }*/
    /*}*/
    @-webkit-keyframes tenyog425 {
        0% {
            margin-top: 1.5rem;
        }
        50% {
            margin-top: 2.1rem;
        }
        100% {
            margin-top: 1.5rem;
        }
    }

    @keyframes tenyog425 {
        0% {
            margin-top: 1.5rem;
        }
        50% {
            margin-top: 2.1rem;
        }
        100% {
            margin-top: 1.5rem;
        }
    }

}

@media (max-width: 391px) {
    .ten__contentLeftTitle {
        padding-top: 4.5rem;
        font-size: 15px;
    }

    .ten__yog {
        margin-left: 10rem;
    }

    .ellipse {
        margin-left: 14.8rem !important;
    }
}

@media (max-width: 376px) {
    .ten {
        margin-bottom: -49px;
    }

    .ten, .tenSloy, .ten__img {
        min-height: 192px;
    }

    .formRequest {
        width: 100%;
        margin-top: 1rem;
    }

    .ten__yog {
        position: absolute;
        height: 121px;
        object-fit: contain;
        width: 222px;
        margin-left: 10rem;
        margin-top: 2.5rem;
        animation: tenyog375 1s infinite !important;
    }

    .ellipse {
        margin-left: 14.8rem !important;
        margin-top: -3.2rem;
        /*animation: tenellipse375 1s infinite!important;*/
    }

    /*@-webkit-keyframes tenellipse375{*/
    /*    0% {*/
    /*        margin-top: -5rem;*/
    /*    }*/
    /*    50% {*/
    /*        margin-top: -4.5rem;*/
    /*    }*/
    /*    100% {*/
    /*        margin-top: -5rem;*/
    /*    }*/
    /*}*/
    /*@keyframes tenellipse375{*/
    /*    0% {*/
    /*        margin-top: -5rem;*/
    /*    }*/
    /*    50% {*/
    /*        margin-top: -4.5rem;*/
    /*    }*/
    /*    100% {*/
    /*        margin-top: -5rem;*/
    /*    }*/
    /*}*/
    .ten__contentLeftTitle {
        padding-top: 4.3rem;
        color: #ffffff;
        font-weight: bold;
        font-size: 15px;
    }

    @-webkit-keyframes tenyog375 {
        0% {
            margin-top: 1.3rem;
        }
        50% {
            margin-top: 1.5rem;
        }
        100% {
            margin-top: 1.3rem;
        }
    }

    @keyframes tenyog375 {
        0% {
            margin-top: 1.3rem;
        }
        50% {
            margin-top: 1.5rem;
        }
        100% {
            margin-top: 1.3rem;
        }
    }
}

@media (max-width: 361px) {
    .ten__yog {
        position: absolute;
        height: 113px;
        object-fit: contain;
        width: 222px;
        margin-left: 9.5rem;
        margin-top: 2.5rem;
        animation: tenyog375 1s infinite !important;
    }

    .ellipse {
        margin-left: 14.3rem !important;
        margin-top: -3.3rem;
    }
}

@media (max-width: 321px) {
    .bootstrap__tableThree {
        margin-top: -3rem;
    }

    .ten {
        margin-bottom: -40px !important;
    }

    .ten, .tenSloy, .ten__img {
        min-height: 155px;
    }

    .ten__yog {
        position: absolute;
        height: 99px;
        object-fit: contain;
        width: 123px !important;
        margin-left: 11rem;
        margin-top: 2.5rem;
        animation: tenyog320 3s infinite !important;
    }

    .ellipse {
        margin-left: 13.5rem !important;
        margin-top: -2.8rem;
        /*animation: tenellipse320 3s infinite!important;*/
    }

    .ten__contentLeftTitle {
        padding-top: 3.5rem;
        padding-left: 0.8rem;
        color: #ffffff;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
    }

    /*@-webkit-keyframes tenellipse320 {*/
    /*    0% {*/
    /*        margin-top: -4.2rem;*/
    /*    }*/
    /*    50% {*/
    /*        margin-top: -4.5rem;*/
    /*    }*/
    /*    100% {*/
    /*        margin-top: -4.2rem;*/
    /*    }*/
    /*}*/
    /*@keyframes tenellipse320 {*/
    /*    0% {*/
    /*        margin-top: -4.2rem;*/
    /*    }*/
    /*    50% {*/
    /*        margin-top: -4.5rem;*/
    /*    }*/
    /*    100% {*/
    /*        margin-top: -4.2rem;*/
    /*    }*/
    /*}*/
    @-webkit-keyframes tenyog320 {
        0% {
            margin-top: 0.5rem;
        }
        50% {
            margin-top: 0.8rem;
        }
        100% {
            margin-top: 0.5rem;
        }
    }

    @keyframes tenyog320 {
        0% {
            margin-top: 0.5rem;
        }
        50% {
            margin-top: 0.8rem;
        }
        100% {
            margin-top: 0.5rem;
        }
    }

}
